* {
	background color: #ff3333;
}

h1 {
	color:purple;
	text-align: center;
}

p {
	color: #330000;
	text-align: center;
	margin: 0 auto;
	
}
 .container {
 	margin: 0 auto;
 	width: 33%;
	border: 1px solid black;
	margin-bottom: 20px;
 }

 .psychic {
 	margin: 0 auto;
 	width: 40%;

 }

 .img {
 	margin: 0 auto;
 	text-align: center;
 }